{% if ansible_os_family == 'Debian' or ansible_os_family == 'Ubuntu' %}
Defaults	env_reset
Defaults	mail_badpass
Defaults	secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
{% endif %}

root	ALL=(ALL:ALL) ALL
%sudo	ALL=(ALL:ALL) ALL
{% if ansible_os_family == 'FreeBSD' %}
%wheel  ALL=(ALL:ALL) ALL
{% endif %}

@includedir {{mainETC}}/sudoers.d
